USE [master]
GO
/****** Object:  Database [TP_4]    Script Date: 22/11/2021 17:10:30 ******/
CREATE DATABASE [TP_4]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TP_4', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TP_4.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TP_4_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TP_4_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TP_4].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TP_4]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 22/11/2021 17:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[ID] [int] NOT NULL,
	[Categoria] [varchar](100) NOT NULL,
	[Marca] [varchar](100) NOT NULL,
	[Eficiencia] [varchar](100) NOT NULL,
	[Porcentaje] [int] NOT NULL,
	[Caracteristica] [varchar](100) NOT NULL,
	[Precio] [bigint] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Productos] ([ID], [Categoria], [Marca], [Eficiencia], [Porcentaje], [Caracteristica], [Precio]) VALUES (1234, N'Microondas', N'Philco', N'A', 38, N'Chico', 98555)
INSERT [dbo].[Productos] ([ID], [Categoria], [Marca], [Eficiencia], [Porcentaje], [Caracteristica], [Precio]) VALUES (2555, N'Microondas', N'LG', N'D', 12, N'Mediano', 75482)
INSERT [dbo].[Productos] ([ID], [Categoria], [Marca], [Eficiencia], [Porcentaje], [Caracteristica], [Precio]) VALUES (3774, N'Microondas', N'Samsung', N'B', 45, N'Grande', 55637)
GO
USE [master]
GO
